{% extends 'blog/base.html' %}

{% block content %}
    
        <div class="post">
            <p>published: 04.05.2020, 12:14</p>
            <h2><a href="">About Me</a></h2>
            <p>Passionate and self-driven mechanical engineer looking for applying and expanding the knowledge acquired throughout the studies of science. Coming with the ability to design and develop instrumentation systems, mechanical systems and machine learning algorithms. </p>
        </div>

        <div class="post">
            <p>published: 04.05.2020, 12:14</p>
            <h2><a href="">Credentials</a></h2>
            <p>University of Alberta, Edmonton, AB Canada</p>
            <p>University of Guadalajara, Guadalajara, JAL Mexico</p>
        </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}